.employment-history-item {
    .compone-name {
        margin-left: 0.5em;
    }
    .date-range {
        display: inline-block;
        margin-right: 0.5em;
    }
    & > p {
        text-indent: 2em;
    }
    ul {
        list-style: none;
        li {
            h5 {
                  margin-bottom: 0px;
            }
        }
    }
}
