.paragraph{
    margin-left: 5rem;
    .container {
        line-height: 1.2;
        margin: 0 0 .5em;
    }
    h4 {
        font-weight: 400;
        margin: 10px 0;
        border-bottom: 1px solid @light-blue-200;
        color: #000000;
        font-size: 1.5em;
        span {

        }
    }
}
