doctype html
html

    //- HTML HEADER
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")

        title= title || 'bshy\'s resume'

        //- link(href="http://fonts.useso.com/css?family=Josefin+Sans", rel="stylesheet")
        link(href="/dist/app.css", rel="stylesheet")

        //- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        //- Safely remove this block if you are not targeting IE8
        //- [if lt IE 9]
        <!--[if lte IE 9]>
        script(src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js")
        script(src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js")
        <![endif]-->
        //- [endif]

    body
        section#resume-body
        section.footer
            a(href="https://github.com/bshy522/resume", target="_blank", class="mui-icon-github") source code
        //- JAVASCRIPT
        script(src='/dist/app.js')

        script.
            // GA
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-57138030-2', 'auto');
            ga('send', 'pageview');
